<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Test Task Manager 2020</div>
            <div>
                <a href="{{root_url}}">Home page</a>
            </div>
        </div>
    </div>
</footer>