<!DOCTYPE html>
<html lang="en">
{% include 'head.twig' %}
<body class="sb-nav-fixed">
{% include 'header.twig' %}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Tasks</h1>
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>Tasks List</div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-11"></div>
                            <div class="col-1">
                                <a class="btn btn-primary" href="{{ create_task_link }}" role="button">Create task</a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>E-mail</th>
                                    <th>Content</th>
                                    <th>Completed</th>
                                    <th>Admin edited</th>
                                    <th>Updated</th>
                                    {% if is_logged %}
                                        <th>Edit</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>User Name</th>
                                    <th>E-mail</th>
                                    <th>Content</th>
                                    <th>Completed</th>
                                    <th>Admin edited</th>
                                    <th>Updated</th>
                                    {% if is_logged %}
                                        <th>Edit</th>
                                    {% endif %}
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.twig' %}
    </div>
</div>
{% include 'footer_scripts.twig' %}
</body>
</html>
