<!DOCTYPE html>
<html lang="en">
{% include 'head.twig' %}
<body class="sb-nav-fixed">
{% include 'header.twig' %}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">{{ title }}</h1>
                {% if error_title %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_title }}
                    </div>
                {% endif %}
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                            <div class="card-body">
                                <form method="post" action="{{ login_action_url }}">
                                    <div class="form-group">
                                        <label class="small mb-1" for="input_email">Name</label>
                                        <input class="form-control py-4" id="input_email" name="name" type="text"
                                               placeholder="Enter email address">
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="input_password">Password</label>
                                        <input class="form-control py-4" id="input_password" name="password"
                                               type="password"
                                               placeholder="Enter password">
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <div class="small"></div>
                                        <button type="submit" class="btn btn-primary">Login</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 20px"></div>
            </div>
        </main>
        {% include 'footer.twig' %}
    </div>
</div>
{% include 'footer_scripts.twig' %}
</body>
</html>
