<!DOCTYPE html>
<html lang="en">
{% include 'head.twig' %}
<body class="sb-nav-fixed">
{% include 'header.twig' %}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">{{ title }}</h1>

                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">

                                <h3 class="text-center font-weight-light my-4">
                                    {% if error_title %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error_title }}
                                        </div>
                                    {% elseif id is empty %}
                                        {{ form_title }}
                                    {% else %}
                                        {{ email }} | {{ user_name }}
                                    {% endif %}
                                </h3>
                            </div>
                            {% if not_found is empty %}
                                <div class="card-body">
                                    <form method="post" action="{{ form_action }}">
                                        <div class="form-group">
                                            {% if id is empty %}
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="small mb-1" for="input_name">Name</label>
                                                            <input class="form-control py-4" id="input_name" name="name"
                                                                   type="text"
                                                                   placeholder="Enter name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="small mb-1" for="input_email">Email</label>
                                                            <input class="form-control py-4" id="input_email"
                                                                   name="email"
                                                                   type="email" placeholder="Enter email"></div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            <label class="small mb-1" for="input_content">Content</label>
                                            <textarea class="form-control py-4" id="input_content" name="content"
                                                      placeholder="Task content">{{ content }}</textarea>
                                            {% if id and is_logged %}
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="input_completed"
                                                               name="completed"
                                                               type="checkbox" {% if completed %}checked{% endif %}>
                                                        <label class="custom-control-label" for="input_completed">Complete
                                                            task</label>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <input type="hidden" name="id" value="{{ id }}">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 20px"></div>
            </div>
        </main>
        {% include 'footer.twig' %}
    </div>
</div>
{% include 'footer_scripts.twig' %}
</body>
</html>
